<p class="panel-heading has-text-weight-semibold">{{ category }}</p>
{% for application in applications %}
    <a class="application panel-block" href="{{ url('application_overview', {'applicationName': application.name}) }}">{{ application.name }}
        <span class="is-pulled-right">

            {% if application.isRecommended %}
                <span class="tag is-success" rel="recommended"><i class="fas fa-star"></i></span>
            {% endif %}

            {% if application.isAbandoned %}
                <span class="tag is-danger" rel="abandoned">{% trans %}Abandoned{% endtrans %}</span>
            {% endif %}

            {% if application.isExternal %}
                <span class="tag is-info" rel="external">{% trans %}External{% endtrans %}</span>
            {% endif %}

        </span>
    </a>
{% endfor %}
